/* common classes  */

*{
    margin: 0;
    padding: 0;
}

.logo-image img{
    height: 75px;
    width: 100px;
    border-radius: 50%;
    /* border: 2px solid black; */
}
.text1{
    font-size: 19px;
    letter-spacing: 1px;
}
.text2{
    font-size: large;
    letter-spacing: 2px;
}



   